    <div class="foo-copy">
        <div class="container">

        <div class="foo-row">
			  <a class="foo-col" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; About</a>
			  <a class="foo-col" href="/adminapi/test"><i class="fa fa-user" 
			  aria-hidden="true"></i>&nbsp; User</a>
			  <a class="foo-col" href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp; Formas de pago</a>
			  <a class="foo-col" href="/adminapi"><i class="fa fa-server" aria-hidden="true"></i>&nbsp; Server api</a>
		</div>

		<br>
		
		       <p>Made by DevWorld-AR-Hector Fernando Calisaya</p>
        </div>
    </div>

