<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">

    <head> 
    
     <%- include('./partials/head'); %>

    <title>Login| HitGames</title>

        
    </head>
    
    <body>

<!-- =-----------------------HEADER MENU-----------------------= -->

        <%- include('./partials/header'); %>
        
<!-- =-------------------------HEADER MENU -----------------------f-= -->
    
        <div id="contenedor">
            
            <div id="contenedorcentrado">
                <div id="derecho">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <hr>
                </div>

                <div id="login">
                       
                        <form id="loginform" action="/login" method="POST">
                  
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Email" required name="email">
                        
                        <label for="password">Contraseña</label>
                        <input id="password" type="password" placeholder="Contraseña" name="password" required>
                        
                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                    </form>
                    
                </div>

                <div id="derecho">    
                    <div class="pie-form">
                        <a href="#">¿Perdiste tu contraseña?</a>

                    </div>
                </div>
            </div>
        </div>
        
<!-- ----------------------------FOOTER--------------------------- -->
        <footer>
              <%- include('./partials/footer'); %>
        </footer>
<!-- ----------------------------FOOTER--------------------------- -->
    </body>
</html>